<br>
<div class="container">
    <h2>This is Barossa Wine</h2>
    <br>
    <div class="row">
        <div class="col-7">
            <h3>Wine Selection</h3>
        </div>
        <div class="col-4">
            <h3> User Name : </h3>
            <h5>Winery Name :{{data.wineryname}}</h5>
            <h5>Street Name :</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            {{#each data.Wines}}

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/old/assets/img/werypW.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{winename}}</h5>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text"><small class="text-muted">??????</small></p>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>

        <div class="col-5">
            {{#each data.Events}}
            {{#unless isPast}}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{eventname}}</li>
                <li class="list-group-item">{{time}}</li>
                <li class="list-group-item">{{date}}</li>
            </ul>
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>
<br>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>

{{#each data.Wines}}
<h1>{{id}}</h1>
<h1>{{winename}}</h1>
{{/each}}


{{#each data.Events}}
<h1>{{id}}</h1>
<h1>hmm</h1>
{{/each}}